{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} Fine Diamond Education {% endblock title %} </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/mobile.css'%}">
</head>
<body>
  

    <!-- navbar -->
{% include "partials/navbar.html" %}
  <!-- page-content -->
 <main>

  {% block content %}

  {% endblock %}

 </main> 
  <!-- footer -->

  {% include "partials/footer.html" %}

  <!-- js -->
 <script src="{% static 'js/main.js'%}"> </script>
 <script src="{% static 'js/calendar-ui.js'%}"> </script>

</body>
</html>